* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  height: 10vh;
  margin: 0 0 4rem 0;
}
.logo-container {
  height: 100%;
}
.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header-description {
  width: 100%;
  text-align: center;
  line-height: 1.8;
  font-family: "Roboto", sans-serif;
}
.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.chart-box {
  width: 700px;
  height: 450px;
  margin: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.2);
}
.chart-title {
  text-align: center;
  line-height: 1.8;
  font-family: "Roboto", sans-serif;
}
@media only screen and (min-width: 320px) {
  .chart-box {
    width: 90%;
    height: auto;
  }
}

@media only screen and (min-width: 768px) {
  .chart-box {
    width: 70%;
  }
}

@media only screen and (min-width: 1024px) {
  .chart-box {
    width: 40%;
  }
}
